/.gradle/
/.idea/
/build/
/app/production/
/app/development/
/app/.cxx/*
/app/build/
/buildSrc/.gradle/
/buildSrc/build/
/common/.cxx/*
/common/build/
/common_test/build/
/data/local/build/
/data/model/build/
/data/remote/build/
/data/repository/build/
/features/build/
/navigation/build/
local.properties
*.DS_Store
